main {
    text-align: center;
}

.circle-image {
    clip-path: circle(50% at 50% 50%);
    width: 50%;
}

.pointer {
    cursor: pointer;
}

section#introduction p {
    display: block;
    max-width: none;
}